In [1]:
import os 
cwd = os.getcwd()
from cherrypicker import CherryPicker
import json
import pandas as pd

In [2]:
cwd

'C:\\Users\\syamababum.ASCENT\\Desktop\\Shyam\\AIML'

# Method 1

In [3]:
# import pandas as pd

# # path = r"C:\Users\syamababum.ASCENT\Desktop\python code\store1\data.json"

# with open('data2.json', encoding='utf-8') as inputfile:
#     df = pd.read_json(inputfile)

# # df.to_csv('csvfile.csv', encoding='utf-8', index=False)

In [4]:
# df

In [5]:
# path = r"C:\Users\syamababum.ASCENT\Desktop\python code\store1\data.json"
# with open(path, encoding='utf-8') as inputfile:
# #     df = pd.read_json(inputfile)

In [6]:
# df

# Method 2

In [7]:
# path = r"C:\Users\syamababum.ASCENT\Desktop\python code\store1\data.json"
# df2 = pd.read_json(path)

In [8]:
# df2

In [9]:
# import os
# arr = os.listdir()

# Method 3

## Use of json_normalize
- using json_normalize we can easily make the complex nested dictionary to noraml columns and row

In [10]:
import pandas as pd
from pathlib import Path
import json
# set path to file
p = Path(r'C:\Users\syamababum.ASCENT\Desktop\python code\store1\data2.json')

In [11]:
# read json
p = Path(r'C:\Users\syamababum.ASCENT\Desktop\python code\store1\data2.json')
with p.open('r', encoding='utf-8') as f:
    data = json.loads(f.read())
df2 = pd.json_normalize(data)

### whole dataframe

In [12]:
df2

,id,customerId,controlNumber,status,statusCode,createdDate,updatedDate,expirationDate,fromDate,toDate,...,subscriber.lastName,subscriber.memberId,patient.firstName,patient.lastName,patient.birthDate,patient.gender,patient.genderCode,patient.accountNumber,patient.subscriberRelationship,patient.subscriberRelationshipCode
0,-6085811870527085593,1470351,56613480198,Complete,4,2023-09-20T06:59:43.000+00:00,2023-09-20T06:59:43.000+00:00,2023-09-21T05:59:43.000+00:00,2023-07-18T04:00:00.000+00:00,2023-07-18T04:00:00.000+00:00,...,THEURER,ZGP839803181,ADRIANNA,THEURER,1975-03-31,Female,F,14012012605163,Self,18
1,-6085811870527085593,1470351,56613480198,Complete,4,2023-09-20T06:59:43.000+00:00,2023-09-20T06:59:43.000+00:00,2023-09-21T05:59:43.000+00:00,2023-07-18T04:00:00.000+00:00,2023-07-18T04:00:00.000+00:00,...,THEURER,ZGP839803181,ADRIANNA,THEURER,1975-03-31,Female,F,14012012605163,Self,18

# code

In [13]:
with open('data.json') as file:
    data = json.load(file)
### entire table 
entire_df = pd.json_normalize(data,sep='_')
entire_df.drop(['providers', 'claimStatuses'], axis=1,inplace=True)
### claimStatuses_df table
picker = CherryPicker(data)
flat = picker['claimStatuses'].flatten().get()
claimStatuses_df = pd.DataFrame(flat)
claimStatuses_df = claimStatuses_df.add_prefix('claimStatuses_')
### Provider table
flat = picker['providers'].flatten().get()
provider_df= pd.DataFrame(flat)
provider_df = provider_df.add_prefix('providers_')
df1=pd.concat([entire_df,provider_df,claimStatuses_df], axis=1)

In [14]:
df1

,id,customerId,controlNumber,status,statusCode,createdDate,updatedDate,expirationDate,fromDate,toDate,...,claimStatuses_toDate,claimStatuses_statusDetails_0_category,claimStatuses_statusDetails_0_categoryCode,claimStatuses_statusDetails_0_status,claimStatuses_statusDetails_0_statusCode,claimStatuses_statusDetails_0_effectiveDate,claimStatuses_statusDetails_0_claimAmount,claimStatuses_statusDetails_0_claimAmountUnits,claimStatuses_statusDetails_0_paymentAmount,claimStatuses_statusDetails_0_paymentAmountUnits
0,-5587797717281568231,1470351,56613374966,Complete,4,2023-09-20T06:51:58.000+00:00,2023-09-20T06:51:58.000+00:00,2023-09-21T05:51:58.000+00:00,2023-08-16T04:00:00.000+00:00,2023-08-16T04:00:00.000+00:00,...,2023-08-16,Response not possible - error on submitted req...,E0,Entity not approved as an electronic submitter,24,2023-09-20,230,USD,0,USD

In [15]:
def myfunc(file):
    with open('data2.json') as file:
        data = json.load(file)
    ### entire table 
    entire_df = pd.json_normalize(data,sep='_')
    entire_df.drop(['providers', 'claimStatuses'], axis=1,inplace=True)
    ### claimStatuses_df table
    picker = CherryPicker(data)
    flat = picker['claimStatuses'].flatten().get()
    claimStatuses_df = pd.DataFrame(flat)
    claimStatuses_df = claimStatuses_df.add_prefix('claimStatuses_')
    ### Provider table
    flat = picker['providers'].flatten().get()
    provider_df= pd.DataFrame(flat)
    provider_df = provider_df.add_prefix('providers_')
    df2=pd.concat([entire_df,provider_df,claimStatuses_df], axis=1)
    trans_df=df2.T
    trans_df.columns=["record_1"]
    return trans_df

# CherryPicker >>>>>>
- Using CherryPicker 
- which convert all the complex dictionary into a simple key value piars

In [16]:
with open('new_json.json') as file:
        data = json.load(file)
picker = CherryPicker(data)
flat = picker['payers'].flatten().get()
claimStatuses_df = pd.DataFrame(flat)

In [17]:
d=[]
for i in claimStatuses_df.columns:
    re=i.split('_')[-1]
    d.append(re.upper())
d

['NAME',
 'PAYERID',
 'DISPLAYNAME',
 'TRANSACTIONDESCRIPTION',
 'SUBMISSIONMODE',
 'EFFECTIVEDATE',
 'AVAILABILITY',
 'ENROLLMENTREQUIRED',
 'REBATETIER',
 'PASSTHROUGHRATE',
 'GATEWAY',
 'TRANSACTIONDESCRIPTION',
 'SUBMISSIONMODE',
 'EFFECTIVEDATE',
 'AVAILABILITY',
 'ENROLLMENTREQUIRED',
 'TRANSACTIONDESCRIPTION',
 'SUBMISSIONMODE',
 'EFFECTIVEDATE',
 'AVAILABILITY',
 'ENROLLMENTREQUIRED',
 'REBATETIER',
 'PASSTHROUGHRATE',
 'GATEWAY',
 'SHORTNAME',
 'REBATETIER',
 'PASSTHROUGHRATE',
 'TRANSACTIONDESCRIPTION',
 'SUBMISSIONMODE',
 'EFFECTIVEDATE',
 'AVAILABILITY',
 'ENROLLMENTREQUIRED',
 'REBATETIER',
 'PASSTHROUGHRATE',
 'GATEWAY',
 'NEWTIERNOTICE',
 'TRANSACTIONDESCRIPTION',
 'SUBMISSIONMODE',
 'EFFECTIVEDATE',
 'AVAILABILITY',
 'ENROLLMENTREQUIRED',
 'REBATETIER',
 'PASSTHROUGHRATE',
 'TRANSACTIONDESCRIPTION',
 'SUBMISSIONMODE',
 'EFFECTIVEDATE',
 'AVAILABILITY',
 'ENROLLMENTREQUIRED',
 'REBATETIER',
 'PASSTHROUGHRATE',
 'NEWTIERNOTICE',
 'GATEWAY',
 'TRANSACTIONDESCRIPTION',
 'SUBMISSIONMODE',
 'EFFECTIVEDATE',
 'AVAILABILITY',
 'ENROLLMENTREQUIRED',
 'REBATETIER',
 'PASSTHROUGHRATE',
 'NEWTIERNOTICE',
 'GATEWAY',
 'GATEWAY',
 'NEWTIERNOTICE',
 'TRANSACTIONDESCRIPTION',
 'SUBMISSIONMODE',
 'EFFECTIVEDATE',
 'AVAILABILITY',
 'ENROLLMENTREQUIRED',
 'NEWTIERNOTICE',
 'NEWTIERNOTICE',
 'GATEWAY',
 'TRANSACTIONDESCRIPTION',
 'SUBMISSIONMODE',
 'EFFECTIVEDATE',
 'AVAILABILITY',
 'ENROLLMENTREQUIRED',
 'REBATETIER',
 'PASSTHROUGHRATE',
 'GATEWAY',
 'TRANSACTIONDESCRIPTION',
 'SUBMISSIONMODE',
 'EFFECTIVEDATE',
 'AVAILABILITY',
 'ENROLLMENTREQUIRED',
 'REBATETIER',
 'PASSTHROUGHRATE',
 'GATEWAY',
 'TRANSACTIONDESCRIPTION',
 'SUBMISSIONMODE',
 'EFFECTIVEDATE',
 'AVAILABILITY',
 'ENROLLMENTREQUIRED',
 'REBATETIER',
 'PASSTHROUGHRATE',
 'NEWTIERNOTICE',
 'GATEWAY',
 'TRANSACTIONDESCRIPTION',
 'SUBMISSIONMODE',
 'EFFECTIVEDATE',
 'AVAILABILITY',
 'ENROLLMENTREQUIRED',
 'REBATETIER',
 'PASSTHROUGHRATE',
 'GATEWAY',
 'TRANSACTIONDESCRIPTION',
 'SUBMISSIONMODE',
 'EFFECTIVEDATE',
 'AVAILABILITY',
 'ENROLLMENTREQUIRED',
 'TRANSACTIONDESCRIPTION',
 'SUBMISSIONMODE',
 'EFFECTIVEDATE',
 'AVAILABILITY',
 'ENROLLMENTREQUIRED']

In [18]:
claimStatuses_df.columns=d

In [19]:
claimStatuses_df.to_csv('result_data.csv')

In [20]:
newtrans_df=claimStatuses_df.T

In [21]:
newtrans_df.to_csv('new_json_output02.csv')

### CherryPicker code end here=>>>>>>>

In [22]:
with open('data2.json') as file:
    
    data = json.load(file)
### entire table 
entire_df = pd.json_normalize(data,sep='_')
entire_df.drop(['providers', 'claimStatuses'], axis=1,inplace=True)
### claimStatuses_df table
picker = CherryPicker(data)
flat = picker['claimStatuses'].flatten().get()
claimStatuses_df = pd.DataFrame(flat)
claimStatuses_df = claimStatuses_df.add_prefix('claimStatuses_')
### Provider table
flat = picker['providers'].flatten().get()
provider_df= pd.DataFrame(flat)
provider_df = provider_df.add_prefix('providers_')
df2=pd.concat([entire_df,provider_df,claimStatuses_df], axis=1)

In [23]:
df2

,id,customerId,controlNumber,status,statusCode,createdDate,updatedDate,expirationDate,fromDate,toDate,...,claimStatuses_toDate,claimStatuses_statusDetails_0_category,claimStatuses_statusDetails_0_categoryCode,claimStatuses_statusDetails_0_status,claimStatuses_statusDetails_0_statusCode,claimStatuses_statusDetails_0_effectiveDate,claimStatuses_statusDetails_0_claimAmount,claimStatuses_statusDetails_0_claimAmountUnits,claimStatuses_statusDetails_0_paymentAmount,claimStatuses_statusDetails_0_paymentAmountUnits
0,-6085811870527085593,1470351,56613480198,Complete,4,2023-09-20T06:59:43.000+00:00,2023-09-20T06:59:43.000+00:00,2023-09-21T05:59:43.000+00:00,2023-07-18T04:00:00.000+00:00,2023-07-18T04:00:00.000+00:00,...,2023-07-18,Response not possible - error on submitted req...,E0,Entity not approved as an electronic submitter,24,2023-09-20,330,USD,0,USD

In [24]:
result = df1.append(df2)

C:\Users\syamababum.ASCENT\AppData\Local\Temp\ipykernel_31720\3416078118.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = df1.append(df2)

In [25]:
result.to_csv('result2.csv')

In [26]:
trans_df=result.T

In [27]:
trans_df.columns=["record_1","record_2"]

In [28]:
trans_df.to_csv('output.csv')

### for another nested

In [29]:
with open('data2.json') as file:
    data = json.load(file)
entire_df = pd.json_normalize(data,sep='_')
entire_df.columns

Index(['id', 'customerId', 'controlNumber', 'status', 'statusCode',
       'createdDate', 'updatedDate', 'expirationDate', 'fromDate', 'toDate',
       'claimAmount', 'facilityTypeCode', 'facilityType', 'frequencyTypeCode',
       'frequencyType', 'availityTransactionId', 'providers', 'claimStatuses',
       'claimCount', 'payer_id', 'payer_name', 'submitter_lastName',
       'submitter_firstName', 'submitter_id', 'subscriber_firstName',
       'subscriber_lastName', 'subscriber_memberId', 'patient_firstName',
       'patient_lastName', 'patient_birthDate', 'patient_gender',
       'patient_genderCode', 'patient_accountNumber',
       'patient_subscriberRelationship', 'patient_subscriberRelationshipCode'],
      dtype='object')

#### entire data

In [30]:
entire_df

,id,customerId,controlNumber,status,statusCode,createdDate,updatedDate,expirationDate,fromDate,toDate,...,subscriber_lastName,subscriber_memberId,patient_firstName,patient_lastName,patient_birthDate,patient_gender,patient_genderCode,patient_accountNumber,patient_subscriberRelationship,patient_subscriberRelationshipCode
0,-6085811870527085593,1470351,56613480198,Complete,4,2023-09-20T06:59:43.000+00:00,2023-09-20T06:59:43.000+00:00,2023-09-21T05:59:43.000+00:00,2023-07-18T04:00:00.000+00:00,2023-07-18T04:00:00.000+00:00,...,THEURER,ZGP839803181,ADRIANNA,THEURER,1975-03-31,Female,F,14012012605163,Self,18

In [31]:
# entire_df.drop(entire_df.columns[[0, 4, 2]], axis=1, inplace=True)
entire_df.drop(['providers', 'claimStatuses'], axis=1,inplace=True)

In [32]:
entire_df

,id,customerId,controlNumber,status,statusCode,createdDate,updatedDate,expirationDate,fromDate,toDate,...,subscriber_lastName,subscriber_memberId,patient_firstName,patient_lastName,patient_birthDate,patient_gender,patient_genderCode,patient_accountNumber,patient_subscriberRelationship,patient_subscriberRelationshipCode
0,-6085811870527085593,1470351,56613480198,Complete,4,2023-09-20T06:59:43.000+00:00,2023-09-20T06:59:43.000+00:00,2023-09-21T05:59:43.000+00:00,2023-07-18T04:00:00.000+00:00,2023-07-18T04:00:00.000+00:00,...,THEURER,ZGP839803181,ADRIANNA,THEURER,1975-03-31,Female,F,14012012605163,Self,18

### claimStatuses data

In [33]:
picker = CherryPicker(data)
flat = picker['claimStatuses'].flatten().get()
df = pd.DataFrame(flat)
df.head()

,traceId,patientControlNumber,fromDate,toDate,statusDetails_0_category,statusDetails_0_categoryCode,statusDetails_0_status,statusDetails_0_statusCode,statusDetails_0_effectiveDate,statusDetails_0_claimAmount,statusDetails_0_claimAmountUnits,statusDetails_0_paymentAmount,statusDetails_0_paymentAmountUnits
0,56613480198,14012012605163,2023-07-18,2023-07-18,Response not possible - error on submitted req...,E0,Entity not approved as an electronic submitter,24,2023-09-20,330,USD,0,USD

In [34]:
df1 = df.add_prefix('claimStatuses_')

### table of claimStatuses_

In [35]:
df1

,claimStatuses_traceId,claimStatuses_patientControlNumber,claimStatuses_fromDate,claimStatuses_toDate,claimStatuses_statusDetails_0_category,claimStatuses_statusDetails_0_categoryCode,claimStatuses_statusDetails_0_status,claimStatuses_statusDetails_0_statusCode,claimStatuses_statusDetails_0_effectiveDate,claimStatuses_statusDetails_0_claimAmount,claimStatuses_statusDetails_0_claimAmountUnits,claimStatuses_statusDetails_0_paymentAmount,claimStatuses_statusDetails_0_paymentAmountUnits
0,56613480198,14012012605163,2023-07-18,2023-07-18,Response not possible - error on submitted req...,E0,Entity not approved as an electronic submitter,24,2023-09-20,330,USD,0,USD

In [36]:
picker = CherryPicker(data)
flat = picker['providers'].flatten().get()
df_pro = pd.DataFrame(flat)
df_pro.head()

  lastName firstName         npi
0     LEON    RENE A  1639255896

In [37]:
df_pro_chng = df_pro.add_prefix('providers_')

### table of provider

In [38]:
df_pro_chng

  providers_lastName providers_firstName providers_npi
0               LEON              RENE A    1639255896

## combining

In [39]:
outdf=pd.concat([entire_df,df1,df_pro_chng], axis=1)

In [40]:
outdf.to_csv('combined_next.csv')

## sample dataset

In [41]:
# read json
p = Path(r'C:\Users\syamababum.ASCENT\Desktop\python code\store1\sample.json')
with p.open('r', encoding='utf-8') as f:
    data2 = json.loads(f.read())
data2

[{'name': 'John Doe',
  'age': 30,
  'city': 'New York',
  'skills': {'Python': 'Intermediate', 'R': 'Beginner'}},
 {'name': 'Jane Doe',
  'age': 28,
  'city': 'San Francisco',
  'skills': {'Python': 'Advanced', 'Java': 'Intermediate'}}]

In [42]:
df2 = pd.json_normalize(data2)
# create dataframe
df2

       name  age           city skills.Python  skills.R   skills.Java
0  John Doe   30       New York  Intermediate  Beginner           NaN
1  Jane Doe   28  San Francisco      Advanced       NaN  Intermediate

In [43]:
# # Extract the skills data into a separate DataFrame
# skills_data = pd.json_normalize(data2['skills'])

# # Concatenate the original DataFrame with the new 'skills' DataFrame
# flattened_data = pd.concat([data.drop(['skills'], axis=1), skills_data], axis=1)

### Complex json

In [44]:
pip install CherryPicker

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: CherryPicker in c:\users\syamababum.ascent\appdata\roaming\python\python310\site-packages (0.4.0)
Requirement already satisfied: joblib>=0.13.0 in c:\programdata\anaconda3\lib\site-packages (from CherryPicker) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [45]:
from cherrypicker import CherryPicker
import json
import pandas as pd

with open('complexjson23.json') as file:
    data = json.load(file)

data

{'tickets': [{'Name': 'Liam',
   'Location': {'City': 'Los Angeles', 'State': 'CA'},
   'hobbies': ['Piano', 'Sports'],
   'year': 1985,
   'teamId': 'ATL',
   'playerId': 'barkele01',
   'salary': 870000},
  {'Name': 'John',
   'Location': {'City': 'Los Angeles', 'State': 'CA'},
   'hobbies': ['Music', 'Running'],
   'year': 1985,
   'teamId': 'ATL',
   'playerId': 'bedrost01',
   'salary': 550000}],
 'count': 2}

In [46]:
picker = CherryPicker(data)

In [47]:
picker

In [48]:
flat = picker['tickets'].flatten().get()
df = pd.DataFrame(flat)
df.head()

,Name,Location_City,Location_State,hobbies_0,hobbies_1,year,teamId,playerId,salary
0,Liam,Los Angeles,CA,Piano,Sports,1985,ATL,barkele01,870000
1,John,Los Angeles,CA,Music,Running,1985,ATL,bedrost01,550000

In [49]:
flat

[{'Name': 'Liam',
  'Location_City': 'Los Angeles',
  'Location_State': 'CA',
  'hobbies_0': 'Piano',
  'hobbies_1': 'Sports',
  'year': 1985,
  'teamId': 'ATL',
  'playerId': 'barkele01',
  'salary': 870000},
 {'Name': 'John',
  'Location_City': 'Los Angeles',
  'Location_State': 'CA',
  'hobbies_0': 'Music',
  'hobbies_1': 'Running',
  'year': 1985,
  'teamId': 'ATL',
  'playerId': 'bedrost01',
  'salary': 550000}]

In [50]:
with open('data2.json') as file:
    data = json.load(file)

data

{'id': '-6085811870527085593',
 'customerId': '1470351',
 'controlNumber': '56613480198',
 'status': 'Complete',
 'statusCode': '4',
 'createdDate': '2023-09-20T06:59:43.000+00:00',
 'updatedDate': '2023-09-20T06:59:43.000+00:00',
 'expirationDate': '2023-09-21T05:59:43.000+00:00',
 'fromDate': '2023-07-18T04:00:00.000+00:00',
 'toDate': '2023-07-18T04:00:00.000+00:00',
 'claimAmount': '330',
 'facilityTypeCode': '11',
 'facilityType': 'Hospital Inpatient, including Part A',
 'frequencyTypeCode': '1',
 'frequencyType': 'Admit thru Discharge Claim',
 'payer': {'id': 'bcbsf', 'name': 'BCBSF'},
 'submitter': {'lastName': 'SETHUMADHAVAN',
  'firstName': 'BASKARAN',
  'id': '203821'},
 'availityTransactionId': '43578614321695193183959300018510',
 'providers': [{'lastName': 'LEON',
   'firstName': 'RENE A',
   'npi': '1639255896'}],
 'subscriber': {'firstName': 'ADRIANNA',
  'lastName': 'THEURER',
  'memberId': 'ZGP839803181'},
 'patient': {'firstName': 'ADRIANNA',
  'lastName': 'THEURER',
  'birthDate': '1975-03-31',
  'gender': 'Female',
  'genderCode': 'F',
  'accountNumber': '14012012605163',
  'subscriberRelationship': 'Self',
  'subscriberRelationshipCode': '18'},
 'claimStatuses': [{'traceId': '56613480198',
   'patientControlNumber': '14012012605163',
   'fromDate': '2023-07-18',
   'toDate': '2023-07-18',
   'statusDetails': [{'category': 'Response not possible - error on submitted request data',
     'categoryCode': 'E0',
     'status': 'Entity not approved as an electronic submitter',
     'statusCode': '24',
     'effectiveDate': '2023-09-20',
     'claimAmount': '330',
     'claimAmountUnits': 'USD',
     'paymentAmount': '0',
     'paymentAmountUnits': 'USD'}]}],
 'claimCount': '1'}

In [51]:
picker = CherryPicker(data)
flat = picker['errors','nestedEntityErrors'].flatten().get()

In [52]:
flat

[None, None]

In [53]:
# df = pd.DataFrame(flat)
#

In [55]:
import json
from json import dumps
dataDictionary = {
'hello': 'World',
'geeks': 'forgeeks',
'ABC': 123,
456: 'abc',
14000605: 1,
'list': ['geeks', 4, 'geeks'],
'dictionary': {'you': 'can', 'send': 'anything', 3: 1}
}
# dump data
dataJSON = dumps(dataDictionary)

In [56]:
dataJSON

'{"hello": "World", "geeks": "forgeeks", "ABC": 123, "456": "abc", "14000605": 1, "list": ["geeks", 4, "geeks"], "dictionary": {"you": "can", "send": "anything", "3": 1}}'